{%extends 'base.html'%}
{%block content%}
<div class="notes-app-container">
        <!-- TIÊU ĐỀ -->
        <header class="notes-header">
            <h1>Ghi chú</h1>
        </header>
        <!-- DANH SÁCH GHI CHÚ -->
        <main class="notes-list">
    
    {% for note in notes %}
    <div class="note-row">
        
        <a href="{{ url_for('edit_note', note_id=note.id) }}" class="note-item">
            <h2 class="note-item-title">{{ note.title }}</h2>
            <p class="note-item-snippet">{{ note.created_at.strftime('%d/%m/%Y') }}</p>
        </a>

        <a href="{{ url_for('remove', note_id=note.id) }}" class="delete-button">X</a>

    </div>
    {% endfor %}

    <a href='/main' class='back_button'>Quay lại</a>

</main>
        <!-- NÚT TẠO GHI CHÚ MỚI -->
        <footer class="notes-footer">
            <a href = '/add' class="new-note-button" aria-label="Tạo ghi chú mới"  >+</a>
            <!-- Icon bút và giấy (SVG) -->
    </footer>
    </div>


{%endblock%}